@font-face {
    font-family: 'Ambit';
    src: url('../fonts/ambit-regular-webfont.woff2') format('woff2'),
         url('../fonts/ambit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ambit';
    src: url('../fonts/ambit-bold-webfont.woff2') format('woff2'),
         url('../fonts/ambit-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body { font-family: 'Ambit', Arial, Helvetica, sans-serif; }